@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #34353b;
}

header {
  height: 100vh;
  padding: 36px 5%;
  background-image: url(asset/model_bw.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 90%;
  z-index: 99;
}

header nav img {
  height: 56px;
  width: 56px;
  object-fit: contain;
  filter: invert(70%) sepia(96%) saturate(558%) hue-rotate(359deg)
    brightness(103%) contrast(106%);
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  margin: 0px 20px;
}

header nav ul li a {
  color: #98999a;
  text-decoration: none;
  transition: all ease 0.5s;
}

header nav ul li a:hover {
  color: #fbfbfb;
}

header nav ul li .active {
  color: #fbfbfb;
}

header nav .search {
  height: 48px;
  width: 200px;
  background-color: #3d3e42;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px;
  border-radius: 10px;
}

header nav .search input {
  border: none;
  background-color: transparent;
  width: 80%;
  color: #fbfbfb;
  outline: none;
}

header nav .search input:focus {
  border: none;
  outline: none;
}

header nav .search input::placeholder {
  color: #98999a;
  font-size: 16px;
}

header nav .search i {
  color: #98999a;
}

.landing {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 5%;
}

.landing .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing .intro h3 {
  color: #fbfbfb;
  font-weight: 400;
  font-size: 32px;
  margin-top: 20px;
}

.landing .intro h3 span {
  color: #fec86a;
  font-weight: 600;
  font-size: 3.5rem;
  margin-top: 10px;
}

.intro button {
  height: 48px;
  width: 144px;
  margin-top: 2.5vh;
  background-color: transparent;
  border: 2px solid #fec86a;
  border-radius: 8px;
  color: #fec86a;
  font-size: 16px;
  transition: all ease 0.5s;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 10vh;
}

.socials .line {
  background-color: #fec86a;
  height: 15vh;
  width: 2.5px;
}

.socials i {
  color: #fbfbfb;
  font-size: 36px;
}

.about {
  height: auto;
  width: 100vw;
  padding: 5%;
}

.about h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.about .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about .description .line {
  height: 2.5px;
  width: 60%;
  background-color: #fec86a;
  margin: 32px 0;
}

.about .description p {
  color: #fbfbfb;
  font-size: 20px;
}

.about .description p span {
  color: #fec86a;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.skills h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.cards {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 2.5vh;
}

.skill-card {
  height: 20vw;
  width: 20vw;
  background-color: #3d3e42;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  transition: all ease 0.5s;
  margin: 10px;
}

.skill-card:hover {
  background-color: #fec86a;
}

.skill-card img {
  height: 7.5vw;
  width: 7.5vw;
  object-fit: contain;
}

.skill-card h2 {
  font-size: 24px;
  font-weight: 400;
  color: #fbfbfb;
}

.certifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3d3e42;
  padding: 5%;
  text-align: center;
}

.certifications h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.cert-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.cert-card {
  width: calc(33.33% - 40px); /* Distribute in three columns with some margin */
  max-width: 300px;
  padding: 20px;
  margin: 20px;
  border: 
  1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cert-card img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.cert-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.cert-card p {
  color: #888;
  margin-bottom: 15px;
}

.cert-card a {
  display: block;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.experience {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  align-items: center;
  justify-content: center;
}

.experience .darker-div {
  background-color: #34353a;
  width: 100vw;
  height: 10vh;
}

.experience h1 {
  position: absolute;
  color: #fbfbfb;
  font-size: 56px;
  font-family: "Libre Baskerville", serif;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 15%;
}

.experience .lighter-div {
  background-color: #3d3e42;
  width: 100vw;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.experience .lighter-div .exp {
  height: 30vh;
  width: 50vw;
  position: relative;
  margin-left: 20vh;
}

.exp h2 {
  color: #fbfbfb;
  font-size: 32px;
  font-weight: 400;
}

.exp h2::before {
  content: "";
  height: 20px;
  width: 20px;
  color: #fec86a;
  background-color: #fec86a;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 7.5%;
  left: -5%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px #fec86a;
}

.exp-desc::before {
  content: "";
  height: 190px;
  width: 2.5px;
  background-color: #fbfbfb;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: -5%;
}

.exp-desc h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

.exp-desc p {
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
}

.contact-me {
  width: 100vw;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-me h1 {
  font-size: 56px;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.contact-card {
  background-color: #fec86a;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  margin-top: 7.5vh;
}

/* Advanced Responsive Styling */

@media screen and (max-width: 576px) {
  header nav {
    width: 100%;
  }

  header nav img {
    height: 40px;
    width: 40px;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #34353b;
    text-align: center;
    display: none;
  }

  header nav ul.active {
    display: flex;
  }

  header nav ul li {
    margin: 10px 0;
  }

  header nav .search {
    width: 100%;
    margin-top: 10px;
  }

  header nav .search input {
    width: 100%;
  }

  .landing .intro h3 {
    font-size: 24px;
  }

  .landing .intro button {
    margin-top: 10px;
  }

  .socials {
    margin-top: 20px;
  }

  .about h1,
  .skills h1,
  .certifications h1,
  .experience h1,
  .contact-me h1 {
    font-size: 36px;
  }

  .about .description .line,
  .skills .cards .skill-card,
  .cert-cards .cert-card,
  .experience .exp,
  .contact .contact-card {
    width: 100%;
    max-width: 100%;
  }

  .about .description .line {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about .description p {
    font-size: 16px;
  }

  .skills .cards,
  .cert-cards,
  .experience .lighter-div {
    padding: 5%;
  }

  .experience .exp-desc::before {
    height: 100px;
  }

  .contact-me .contact {
    flex-direction: column;
  }

  .contact-me .contact-card {
    margin-top: 10px;
  }
}
